@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-surface: #fbf9f8;
  --color-surface-dim: #dcd9d9;
  --color-surface-bright: #fbf9f8;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f6f3f2;
  --color-surface-container: #f0eded;
  --color-surface-container-high: #eae8e7;
  --color-surface-container-highest: #e4e2e1;
  
  --color-on-surface: #1b1c1c;
  --color-on-surface-variant: #414755;
  
  --color-outline: #717786;
  --color-outline-variant: #c1c6d7;
  
  --color-primary: #0058bc;
  --color-primary-container: #0070eb;
  --color-on-primary: #ffffff;
  
  --color-secondary: #016e00;
  --color-secondary-container: #7efe68;
  --color-on-secondary-container: #017500;
  
  --color-tertiary: #bc0000;
  --color-tertiary-container: #e41f13;
  --color-on-tertiary-container: #fffbff;
  
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-sans antialiased;
  }
}

.bg-pattern {
  background-image: radial-gradient(circle at 2px 2px, #e4e2e1 1px, transparent 0);
  background-size: 24px 24px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
